src/main/mule/exchangedemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:anypoint-mq="http://www.mulesoft.org/schema/mule/anypoint-mq" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/anypoint-mq http://www.mulesoft.org/schema/mule/anypoint-mq/current/mule-anypoint-mq.xsd">
	<flow name="exchangedemoFlow" doc:id="9e02b784-84df-4e71-969b-66593f23a565" >
		<http:listener doc:name="Listener" doc:id="add5bb2e-ee4a-41bb-beff-ec1296e02b10" config-ref="HTTP_Listener_config" path="/testexchange"/>
		<anypoint-mq:publish doc:name="Publish to exchange" doc:id="8f43f3c3-1a60-481a-a024-65c4619f401e" config-ref="Anypoint_MQ_Config" destination="testexchange"/>
		<logger level="INFO" doc:name="Logger" doc:id="abc52f0c-8c35-4441-8168-e5d23e672a30" message="#[payload]"/>
	</flow>
</mule>
